@import './../../styles/variables.scss';

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: black;
  background-color: rgba(51, 170, 51, 0);

  @media screen and (max-width: 992px) {
    height: 0;
  }
}

.navbar-logo {
  color: black;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  animation: moveInLeft 2s;
  font-size: 40px;
}

.profile-nav-container {
  @media screen and (max-width: 992px) {
    position: relative;
  }
}

.profile-nav {
  width: 40px;
  height: 40px;
  border-radius: 9px;
  margin-left: 10px;

  @media screen and (max-width: 992px) {
    position: absolute;
    left: 125px;
    top: 0;
    margin-left: 0;
  }
}

.nav-toggle {
  position: absolute;
  z-index: 5;
  top: 30px;
  right: 30px;
  transform: scale(2.5);
  display: block;
  cursor: pointer;

  @media screen and (min-width: 992px) {
    display: none !important;
  }
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  animation: moveInRight 2s;
  margin-bottom: 0;
  margin-top: 0;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-link {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  background-color: black;
  color: $tertiary-gold-color;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

#signout {
  height: 50%;
  display: flex;
  align-self: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 992px) {
  .NavbarItems {
    position: fixed;
    z-index: 1;
  }

  .navbar-logo {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    position: absolute;
    top: -300px;
    left: 0;
    opacity: 0;
    transition: all 0.7s ease;
    z-index: 0;
  }

  .nav-menu.active {
    background: white;
    justify-content: center;
    left: 0;
    top: 0px;
    opacity: 1;
    transition: all 1s ease;
    z-index: 4;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
  }

  .nav-links {
    text-align: center;
    padding: 0.3rem;
    width: 100%;
    display: table;
    font-size: 1.4rem;
  }

  .nav-links:hover {
    background-color: black;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-links-mobile:hover {
    background: $primary-white;
    color: $tertiary-gold-color;
    transition: 250ms;
  }
}
